@using Maxsys.Sample.AspNetExcelUpload.MVC.Controllers

@model SheetViewModel

<h1>Pessoa</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card-body">
    <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2">
            <a href="#!" class="text-success">
                <i class="fas fa-plus fa-2x" aria-hidden="true"></i></a>
        </span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
            <thead>
                <tr>
                @foreach (var column in Model.Columns)
                {
                    <th class="text-center">
                        @column.Column.Content
                    </th>
                }
                </tr>
            </thead>
            <tbody>
        @foreach (var row in Model.Rows) 
        {
                <tr>
            @foreach (var cell in row.Cells) 
            {
                @if(Utils.Validate_Regex(Model.Columns.Where(col => col.Column.Content == cell.Key).FirstOrDefault().Validation, cell.Value.Content))
                {
                    <td class="pt-3-half" contenteditable="true" style="background-color:lightgreen;">
                    @Html.DisplayFor(modelItem => cell.Value.Content)
                    </td>
                }
                else
                {
                    <td class="pt-3-half" contenteditable="true" style="background-color:lightcoral;">
                    @Html.DisplayFor(modelItem => cell.Value.Content)
                    </td>           
                }
            }
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>